
var coop = require('coop');

module.exports = function (P) {
	return new coop.Class({
		initialize: function (data) {
			this.name = P(data.name);
			this.hp = P(typeof data.hp === 'number' ? data.hp : 4);
		},


	});
}
